@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Header-yuxari-reng: #0a121f;
    --header-asagi-reng: #0b121f;
    --header-btn-color: #3A68B8;
    --hero-yuxari-reng: #08101e;
    --hero-asagi-reng: #09111e;




}

*{text-decoration: none;}

header nav a {
    margin-right: 30px;
}

header{
    background: linear-gradient(to bottom, var(--Header-yuxari-reng),var(--header-asagi-reng));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;

}

header nav{
    display: none;
}
header button {
    background-color: var(--header-btn-color);
    color: #fff;
    padding: 15px 30px;
    border-color: transparent;
    border-radius: 5px;
    display: none;
}

header i {
    color: #fff;
    font-size: 24px;
}

a{
    color: #fff;
}

.open-sans-adi {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Mobile First Approach*/

/*Media Sorgulari( Media Query)*/

/* 375-576 extra small*/
/* 576-768 boyuk ekran telefon*/
/* 768-992 planset*/
/* 992-1024 notebook*/
/* 1024-1200 personal comp mon*/
/* 1200 + TV*/
/* 200-320 SMARRT WATCH */
 


/* Header end */

/* Hero Section start*/
.hero-section {
    background: linear-gradient(to bottom, var(--hero-yuxari-reng), var(--hero-asagi-reng));
    color: #fff;
   
}

.hero {

    display: flex;
    flex-direction:column;

}

.hero .hero-right img{
    width: 300px;
}


.hero .hero-left h6{
    text-transform: uppercase;
    color: #3A68B8;
}

.hero .hero-left h2{
    font-size: 48px;
    margin: 20px 0px 40px;
    font-weight: 700;


}

.hero .hero-left p {
    margin-bottom: 50px;
}

.hero .buttonlar button {
    background-color: var(--header-btn-color);
    border: none;
    padding: 15px 30px;
    color: #fff;
}

.hero .buttonlar button img{
    width: 11px;
    margin-right: 10px;
}


    
@media(min-width:768px)  {
    header i {
        display: none !important;

    }

    header nav {
        display: flex;
    }

    header nav a {
        margin-right: 20px;
    }
    header img {
        width: 178px
    }

    header button {
        display: flex;
    }



    /*Hero Section Start*/
    .hero{
        flex-direction: row;
    }



    .hero .hero-right img{
        width: 400px;
    }
}
@media(min-width:992px){
    .hero .hero-right img{
        width: 500px;
    };
}


